body {
   font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9e7b7b; 
}

h1 {
    text-align: center;
    margin-top:50px;
    color:rgb(135, 85, 220);
}
li{
    margin:50px;
    color:#dfcdcd;
    
}




#todo-list-container{
    display:flex;
justify-content: center;

}